@font-face {
    font-family: JS;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

*{  
    font-family: JS;
    background-color: #F5F5F5;
    color: #282C35;
}

h1 {
    text-align: center;
    padding: 10%;
    font-size: 69px;
    font-weight: bolder;
}